@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Inter:wght@300;400;500;600;700&&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  background-color: #fefdfa !important;
}

/* font family  */
.ff_inter {
  font-family: "Inter" !important;
}

/* root  */
:root {
  /* font sizes  */
  --fs-xsm: 10px;
  --fs-sm: 12px;
  --fs-md: 13px;
  --fs-lg: 17px;
  --fs-xl: 18px;
  --fs-xxl: 19px;
  --fs-3xl: 20px;
  --fs-4xl: 22px;
  --fs-5xl: 23px;
  --fs-6xl: 24px;
  --fs-7xl: 27px;
  --fs-8xl: 28px;
  --fs-9xl: 36px;
  --fs-10xl: 40px;
  --fs-11xl: 45px;
}

/* font sizes  */
.fs_xsm {
  font-size: var(--fs-xsm) !important;
}
.fs_sm {
  font-size: var(--fs-sm) !important;
}
.fs_md {
  font-size: var(--fs-md) !important;
}
.fs_lg {
  font-size: var(--fs-lg) !important;
}
.fs_xl {
  font-size: var(--fs-xl) !important;
}
.fs_xxl {
  font-size: var(--fs-xxl) !important;
}
.fs_3xl {
  font-size: var(--fs-3xl) !important;
}
.fs_4xl {
  font-size: var(--fs-4xl) !important;
}
.fs_5xl {
  font-size: var(--fs-5xl) !important;
}
.fs_6xl {
  font-size: var(--fs-6xl) !important;
}
.fs_7xl {
  font-size: var(--fs-7xl) !important;
}
.fs_8xl {
  font-size: var(--fs-8xl) !important;
}
.fs_9xl {
  font-size: var(--fs-9xl) !important;
}
.fs_10xl {
  font-size: var(--fs-10xl) !important;
}
.fs_11xl {
  font-size: var(--fs-11xl) !important;
}

/* colors  */
.bg_light_orange {
  background-color: #fff7e8 !important;
}
.color_dark_blue {
  color: #263238 !important;
}
.bg_dark_blue {
  background-color: #263238 !important;
}
.text_gradient {
  background: linear-gradient(180deg, #fe8d23 0%, #fe5f01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.border_gradient {
  border: 1px solid transparent;
  background: linear-gradient(to right, #fefdfc, #fefcf4) padding-box,
    linear-gradient(to right, #fe831b, #fe5f01) border-box;
  border-radius: 4px;
}
.bg_gradient {
  background: linear-gradient(99.02deg, #febf11 -15.78%, #fe5e00 108.25%);
  box-shadow: 3.30459px 4.13074px 10.7399px rgba(254, 119, 4, 0.25);
  border-radius: 4.13074px;
  transition: all 0.4s ease-in-out;
}
.text_light_grey {
  color: #fffcfc !important;
}
.text_grey {
  color: #747474 !important;
}
.text_dark_grey {
  color: #545454 !important;
}
.bg_light_orange2 {
  background-color: #fff2d4;
}
.color_black2 {
  color: #373737;
}
/* common classes  */
input {
  outline: none;
}
input::placeholder {
  color: #d3d3d3;
}
.cursor_pointer {
  cursor: pointer;
}
select:focus {
  outline: none;
}

/* ********HEADER START********** */
.border_oval {
  border-radius: 62px !important;
}
.dropdown-toggle::after {
  border-top: 0.3em solid #fe6902 !important;
}
.dropdown-item:hover {
  background-color: #ffe7c8 !important;
}

.whatsapp_logo {
  height: 30px;
  width: 25px;
  color: #fe831b;
}
.dhurina_logo {
  height: 80px;
  z-index: 99;
}

/* hamburger toggle  */
.hamburger-menu span {
  background-color: #fe5e00;
  width: 30px;
  height: 4px;
  z-index: 100;
  /* margin-top: 4px; */
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.hamburger-menu {
  height: 25px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navShow {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0 !important;
  right: 0px !important;
  background-color: #fff4d4;
  z-index: 98;
  width: 100%;
}
.humburger .hamburger-menu .menu_1 {
  transform: rotate(-45deg);
  position: absolute;
  right: 0px;
  top: 50%;
}
.humburger .hamburger-menu .menu_3 {
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  top: 50%;
}
.humburger .hamburger-menu .menu_2 {
  display: none;
}
.width_0 {
  width: 0px;
}
.overflow_hidden {
  overflow-y: hidden !important;
}

/* *********HEADER END********* */

/* ********1. HOME PAGE START********** */

/* ********HERO START********** */

.hero_input {
  background: #ffffff;
  box-shadow: 0px 3.30459px 67.7441px rgba(0, 0, 0, 0.06);
  border-radius: 40.8709px;
}
.hero_input {
  max-width: 440px;
}
/* *********HERO END********* */

/* *********LEARN ENGLISH START********* */
.janhavi_img {
  max-width: 200px;
  top: -46%;
}

/* slick slider  */
.slick-dots li button:before {
  font-size: 10px !important;
  color: #d1cfcf !important;
}

.slick-dots li.slick-active button:before {
  color: #fe6902 !important;
}
/* *********LEARN ENGLISH END********* */

/* *********BATCHES START********* */
.batches {
  border: 1px solid transparent;
  background: linear-gradient(to right, #ffffff, #ffffff) padding-box,
    linear-gradient(to right, #fe8d23, #fe8d2300) border-box;
  border-radius: 14.8707px;
}
.w-20 {
  width: 20% !important;
}
.color_light_black {
  color: #535353;
}
.accordion-item {
  border-radius: 20px 6px 6px 6px !important;
  border: 1px solid #fe9409 !important;
}
.accordion-button {
  background-color: white !important;
  border-radius: 20px 6px 6px 6px !important;
  color: #fe8d23 !important;
}
.collapsed {
  background: linear-gradient(
    105.64deg,
    #fe9409 -9.41%,
    #fe5f01 111.41%
  ) !important;
  color: white !important;
}
.collapsed svg rect {
  fill: red;
}
.vh_70 {
  height: 70vh;
}
.accordion_scroll_bar ::-webkit-scrollbar,
.select_scroll ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.accordion_scroll_bar ::-webkit-scrollbar-track,
.select_scroll ::-webkit-scrollbar-track {
  border: 4px solid white;
  background-color: #fe8d2373;
  border-radius: 3px;
}

/* Handle */
.accordion_scroll_bar ::-webkit-scrollbar-thumb,
.select_scroll ::-webkit-scrollbar-thumb {
  background: #fe8d23;
  border-radius: 32px;
}

/* Handle on hover */
.accordion_scroll_bar ::-webkit-scrollbar-thumb:hover,
.select_scroll ::-webkit-scrollbar-thumb:hover {
  background: #fe8d23;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button::after {
  background-image: url("./assets/images/svg/accordion_down_arrow.svg") !important;
  margin-top: 10px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/images/svg/accordion_up_arrow.svg") !important;
  transform: rotate(360deg) !important;
}

.batches_icon {
  max-width: 50px;
}
/* *********BATCHES END********* */

/* *********EXPLORE PRODUCTS START********* */
.product_box {
  border: 0.66px solid transparent;
  background: linear-gradient(to right, #fcf5ed, #fcf5ed) padding-box,
    linear-gradient(127.82deg, #fea90d -21.4%, rgba(254, 111, 3, 0) 71.85%)
      border-box;
  border-radius: 11.2338px;
}

/* *********EXPLORE PRODUCTS END********* */

/* *********HOW TO ENROLL START********* */
.timeline {
  position: relative;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  height: 55%;
  border: dashed #fe9408;
  border-width: 0px 4.13px 0px 0px;
  top: 0%;
  left: 13px;
  z-index: -1;
}
.timeline::before {
  content: "";
  position: absolute;
  height: 45%;
  border: dashed #545454;
  border-width: 0px 4.13px 0px 0px;
  bottom: 3%;
  left: 13px;
  z-index: -1;
}
.mobile_size {
  max-width: 230px;
}
.enroll_ellipse {
  filter: blur(70px);
  z-index: -1;
  top: 15%;
}
/* Toggle switch  */
.toggle-switch {
  display: inline-block;
  vertical-align: middle;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 26px;
  border-radius: 13px;
}

.toggle-switch-label .toggle-switch-inner {
  display: block;
  position: absolute;
  top: 7px;
  left: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.toggle-switch-label .toggle-switch-switch {
  display: block;
  position: absolute;
  top: 3px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s, background-color 0.2s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  transform: translateX(28px);
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  transform: translateX(28px);
  background-color: #fff;
}
.apple_icon {
  height: 40px;
  width: 40px;
}
.android_icon {
  height: 40px;
  width: 40px;
}

/* *********HOW TO ENROLL END********* */

/* *********STUDENT SAY START********* */

.bg_students {
  background: linear-gradient(180deg, rgba(255, 250, 243, 0) 0%, #ffe7c8 100%);
}
.our_student {
  border-radius: 16px;
  max-width: 320px !important;
}
.our_students_line::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 7px;
  border-radius: 10px;
  background-color: #fe5e00;
  bottom: -15px;
  left: 54%;
}
.our_students_line::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 7px;
  border-radius: 10px;
  background-color: #fe9e02;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.arrows {
  max-width: 45px;
  height: 45px;
  z-index: 1;
}
.prev {
  bottom: 14%;
  left: 34%;
}
.next {
  bottom: 14%;
  left: 39%;
}

/* *********STUDENTS SAY END********* */

/* ******** HOME PAGE END********** */

/* ********2. BPSC PAGE START********** */
.heading_text {
  max-width: 520px;
}
.bg_classes {
  border-bottom: 1px solid #ffd8a0;
  background-color: #fff4d4;
}
.border_light_brown {
  border: 1px solid #ffd8a0;
  border-radius: 4px;
}
.coupon_bg {
  background-color: #fff9ea;
  border-radius: 100px;
}
.bg_ebooks {
  background: linear-gradient(180deg, #fe8605 0%, #fea905 100%);
  border: 0.2px solid #fe8605;
  border-radius: 4px;
}
.notes {
  max-width: 200px;
  line-height: 28px !important;
}
.bg_books {
  background-color: #fff3e6;
}
.combo_label {
  top: 10px;
  left: 10px;
}
.bg_register {
  background: linear-gradient(180deg, #fff9ec 0%, rgba(255, 249, 236, 0) 100%);
  border: 1px solid #ffdcb7;
  border-radius: 9px;
}
input[type="radio"] {
  background: linear-gradient(156.57deg, #fea70c 9.62%, #fe6b02 92.49%);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
}
input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  left: 2px;
  top: 2px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}
.bg_crack_bpsc {
  background: linear-gradient(135.96deg, #ffa800 22.12%, #fe8605 72.53%);
  border: 1px dashed #ffff;
  border-radius: 10px;
}
.crack_bpsc_para {
  max-width: 180px;
}
.register_btn {
  background: #ffffff;
  border-radius: 15.3584px;
  color: #fe831b;
  z-index: 99;
}
.poster {
  max-width: 240px;
}
/* ********2. BPSC PAGE END********** */

/* *********FOOTER START********* */
.footer_logo {
  height: 80px;
}
.footer_icon {
  transition: all 0.3s ease-in-out;
  max-width: 30px;
}
.footer_icon:hover {
  scale: 1.1;
}
.list_style_none {
  list-style-type: none !important;
}
/* *********FOOTER END********* */

/* *********LOGIN PAGE START********* */
::placeholder[type="number"] {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  color: #9f9f9f;
}
.login_input {
  border-width: 0px 0px 1px 0px;
  padding-left: 30px;
}
.color_grey {
  color: #9f9f9f;
}
.mobile_icon {
  top: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login_btn {
  background: linear-gradient(99.72deg, #feb201 15.13%, #fe8605 57.31%);
  border-radius: 9.52098px;
}
.login_popup {
  z-index: 100 !important;
  max-width: 60% !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.blur {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 80;
  position: absolute !important;
  top: 0;
  right: 0;
}

/* *********LOGIN PAGE END********* */

/* media queries  */
@media (max-width: 576px) {
  :root {
    --fs-md: 10px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-xxl: 19px;
    --fs-6xl: 21px;
    --fs-7xl: 11px;
    --fs-8xl: 28px;
    --fs-9xl: 28px;
    --fs-10xl: 39px;
    --fs-11xl: 22px;
  }
  .store_icon {
    width: 80px;
  }
  .login_popup {
    z-index: 100 !important;
    max-width: 100% !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 100%;
  }
  .dhurina_logo {
    height: 70px;
    z-index: 99;
  }
  .hero_img {
    max-width: 280px !important;
  }
  .hero_ellipse_1 {
    left: -25%;
    top: -45%;
    max-width: 400px;
    z-index: -1;
  }
  .hero_ellipse_2 {
    left: 5%;
    top: -50%;
    max-width: 350px;
    z-index: -1;
  }
  .row.learn {
    margin-left: 0px !important;
  }
  .learn {
    background: linear-gradient(to left, #ffffff, #ffffff) padding-box,
      linear-gradient(to left, #fe8d23, #fe8d2300) content-box;
    border-radius: 15px;
    border: 1px solid #fe8d23;
  }
  .janhavi_img {
    max-width: 157px;
    top: -15%;
  }
  .w-20 {
    width: 33.33% !important;
  }
  .slick-slide img {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .orange_ellipse2 {
    top: 15%;
    left: 6%;
    max-width: 80px !important;
  }
  .students_polygon {
    bottom: 10%;
    left: 17%;
  }
  .students_small_polygon {
    right: 10%;
  }
  .enroll_ellipse {
    transform: translateX(-50%) !important;
  }
  .mobile_size {
    max-width: 180px;
  }
}

@media (min-width: 576px) {
  .hero_img {
    max-width: 350px !important;
  }
  .hero_ellipse_1 {
    top: -20%;
    left: -30%;
    z-index: -1;
  }
  .hero_ellipse_2 {
    top: -50%;
    left: -5%;
    max-width: 600px;
    z-index: -1;
  }
  .row.learn {
    margin-left: 0px !important;
  }
  .learn {
    background: linear-gradient(to left, #ffffff, #ffffff) padding-box,
      linear-gradient(to left, #fe8d23, #fe8d2300) content-box;
    border-radius: 15px;
    border: 1px solid #fe8d23;
  }
  .janhavi_img {
    max-width: 160px;
    top: -17%;
  }
  .slick-slide img {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mt_footer_courses {
    margin-top: 106px !important;
  }
  .orange_ellipse2 {
    top: 14%;
    left: 10%;
    max-width: 80px !important;
  }
  .students_polygon {
    bottom: 5%;
    left: 17%;
  }
  .students_small_polygon {
    right: 10%;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-11xl: 39px;
  }
  .hero_ellipse_1 {
    left: -80%;
  }
  .hero_ellipse_2 {
    left: -20%;
  }
  .mt_footer_courses {
    margin-top: 0px !important;
  }
  .orange_dots {
    left: 8%;
  }
}

@media (min-width: 992px) {
  .custom_container {
    max-width: 1020.86px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_ellipse_1 {
    left: -70%;
    top: -30%;
    z-index: -1;
  }
  .hero_ellipse_2 {
    left: 0%;
    top: -35%;
    z-index: -1;
    max-width: 520px;
  }
  .learn {
    border: 0.83px solid transparent;
    background: linear-gradient(to left, #ffffff, #ffffff) padding-box,
      linear-gradient(to left, #fe8d23, #fe8d2300) border-box;
    border-radius: 0px 15px 60px 0px;
    margin-top: 70px !important;
  }
  .orange_ellipse2 {
    top: 20%;
    left: 4%;
  }
  .orange_ellipse {
    bottom: 10%;
    left: 23%;
    max-width: 250px !important;
  }
  .students_small_polygon {
    left: 47%;
  }
  .orange_dots {
    left: 2%;
  }
  .slick-slide img[alt="quotes"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .orange_ellipse {
    bottom: 5%;
    left: 28%;
    max-width: 250px;
  }
  .orange_ellipse2 {
    top: 19%;
    left: 12%;
    max-width: 100px !important;
  }
  .orange_dots {
    left: 10%;
  }
  .students_polygon {
    bottom: 15%;
    left: 17%;
  }
  .students_small_polygon {
    left: 46%;
  }
}
